@model MvcParty.Models.GuestResponse

@{
    ViewBag.Title = "Thanks";
}

<h2>Thanks @Model.Name!</h2>

@if (Model.WillAttend == true)
{
    @:It's great that you're coming!
}
else
{
    @:Pity you're not coming. Thanks for letting us know.
}